/* controls if item is hidden or not. Sometimes used initially, other times added/removed in JS to toggle between hidden and not */
.block {
display: block;    
}

.bigbar {
    height: 150px;
}


.hide {
    display: none;
  }
  
  /* This section of code is for stuff that's ALWAYS on the page */
  
  /* sets overall background color */
  
  body {
    background-color: black;
  }
  
  /* for whole search bar (reminder: color set via classes */
  
  .searchBar {
    margin-top: 20px;
    height: 60px;
  }
  
  /* head for search bar ("Search by:"). reminder: color set via classes */
  
  #srcBy {
    font-size: 30px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  /* formats input fields in search bar reminder: color background color set via classes */
  
  #inputName {
    border: 1px solid lightgray;
    margin-top: 15px;
    padding-left: 12px;
    width: 150px;
  }
  
  
  
  /* This is for stuff that's visible on page before the first search */
  
  #randomDisplay {
    padding: 0px;
    justify-content: space-around;
  }
  
  
  /* Put anything that formats search results below this line */
  
  /* for text in teal bar */
  .name {
      display: block;
      margin: 0px;
  }

  #info {
    text-transform: capitalize;
    margin: 15px;
    margin-right: 0px;
    font-size: 40px;
  }
  
  #typeNote {
    padding: 27px;
    margin-left: -15px;
    text-align: right;
  }
  
  /* the div that wraps all the way around cards and their info box. This was just to remove some extra space around search results */
  
  #cardDisplay {
    margin-left: 5px;
  }
  
  .cardDiv {
    padding: 0px;
    margin: 0px;
  }
  
  /* controls the image of the card itself */
  
  .pokeCard {
    height: 375px;
    display: inline-block;
    padding: 0px;
  }
  
  /* controls the info boxes directly below the cards */
  
  .cardInfo {
    height: 60px;
    padding: 5px;
    color: aliceblue;
    margin-bottom: 20px;
    line-height: 115%;
    text-align: left;
  }